/* Pisando Bootstrap*/

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.0);
    padding-left: var(--bs-gutter-x,0);
    margin-right: auto;
    margin-left: auto;
}
/******************** GENERALES********************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    font-weight: 800;
    cursor: pointer;
    color: inherit; /*Para que no se ponga azul el anchor*/
}

ol, ul {
    list-style-type: none;
    margin:0px;
    padding: 0px;
}
table{
    margin: 10px;
}
table, th, td {
    border: 1px solid gray;
    background-color: white;
    color: black;
    padding: 5px;
    text-align: center;
  }

th {
    background-color: rgba(211, 211, 211, 0.8);    
}

.fondos-foto {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.h1{
    background-color: rgba(255, 255, 255, 0.9);    
    margin: 5px;
    padding: 2px 6px;
    border-radius: 5px;
    margin: 6px;
    color: #121212;
}

.h3{
    background-color: rgba(211, 211, 211, 0.8);    
    margin: 5px;
    padding: 2px 6px;
    border-radius: 5px;
    margin: 6px;
    text-align: center;
}

iframe, img{
    width:302px;
    height: 170px;
}

.aside__li{
    transition: border-radius 1.5s;


}

.aside__li:hover{
    background: linear-gradient(-45deg, #d4fc79, #96e6a1);
    color: black;
    cursor: pointer;
    border-radius: 20px;
}



/******************** HEADER ********************/

.header{
    /*background-color: #00de00;*/
    background: linear-gradient(-45deg, #96e6a1, #d4fc79);
    padding: 5px;
}
/*Imagen logo*/
.header__img{
    max-width: 40px;
    max-height: 40px;
    animation-name: efecto_header__img;
    animation-duration: 2s;
    position: relative;
}

/* NAV */
@media only screen and (min-width: 992px) {
    /* For small laptops - screens equal to or greater than 992px wide */
    .my_navbar{
        display: flex;
        justify-content: end;
    }
    .aside{
        padding: 100px 0px;
    }

}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.active{
    color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: white;
}

/******************** MAIN ********************/
/*  Aside  */

.aside{
    background-color: #909090;
    ;
    height: 100%;
}

.aside__ul{
    color: white;
    padding: 10px 20px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.aside__ul li{
    padding: 10px;
    border: 1px solid gray;
    margin: 5px 0px 5px 0px;
    box-shadow: 0 1px 3px grey, 0 1px 2px grey;
}

/*  ARTICLES  */

article{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;
}

.article__texto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.6;
    padding: 30px 50px;
}

/******************** FOOTER ********************/
.footer{
    background: linear-gradient(-45deg, #d4fc79, #96e6a1);
}
.footer__ul{
    display: flex;
}

.footer__ul li{
    margin:10px;
}
.footer__ul img{
    height: 40px;
    width: 40px;
}
/******************** GRANOS ********************/
.div-detalle{
    padding: 20px;
}

/******************** TRIGO ********************/

.trigo{
    background-image: url("../assets/img/trigo.jpg");
}

/******************** GIRASOL ********************/

.girasol{
    background-image: url("../assets/img/girasol.jpg");
    color: white;
}

/******************** SOJA ********************/

.soja{
    background-image: url("../assets/img/soja.jpg");
    color: black;
}

/******************** MAIZ ********************/

.maiz{
    background-image: url("../assets/img/maiz.jpg");
    color: white;
}

/******************** CONTACTO ********************/

.contacto{
    background-image: url("../assets/img/contacto.jpg");
    color: black;
}
.contacto-h{
    margin: 10px;
    text-align: center;
}

form input, form textarea{
    margin: 7px 0px;
}

.rrhh{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}


.rrhh img{
    width: 320px;
    height: 242px;
    margin: 15px;
    border-radius: 10px;
    
}

.cliente{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;

}

.contacto-btn{
    padding: 10px 30px;
    background-color: #ECECEC;
    border-radius: 30px;
    border-style: none;
}

.form{
    display: flex;
    flex-direction: column;
}

textarea{
    padding: 5px;
    width: 300px;
}
/******************** PIZARRA ********************/
.pizarras{
    background-image: url("../assets/img/pizarra.jpg");
    color: black;
}

.pizarra{
    display: block;
}

.pizarras-title{
    padding: 10px;
    text-align: center;
}
    
/* ANIMACIONES */

@keyframes efecto_header__img {
    100% {transform: rotate(360deg);}}

