/******************** Variables ********************/

/* Colores */
$fondo-gris: rgba(211, 211, 211, 0.8);
$fondo-verde: linear-gradient(-45deg, #d4fc79, #96e6a1);
$mi-blanco: #F8F8F8;
$mi-negro: #121212;
$mi-gris: #909090;