/* Import */
@import "animaciones";
@import "pisadas";
@import "variables";
@import "maps";

/* Mixins */

@mixin margenes($margin, $padding) {
    margin: $margin;
    padding: $padding;
 }
 
 @mixin sizes($width, $height) {
    height: $height;
    width: $width;
 }
 


/******************** GENERALES********************/
*{
    @include margenes(0px, 0px);
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    font-weight: 800;
    cursor: pointer;
    color: inherit; /*Para que no se ponga azul el anchor*/
}

ol, ul {
    list-style-type: none;
    @include margenes(0px, 0px);
}

table, th, td {
    border: 1px solid gray;
    background-color: $mi-blanco;
    color: $mi-negro;
    @include margenes(10px, 5px);
    text-align: center;
    font-size: 0.65rem; /*Para que no haya scroll horizontal en small devices*/
  }

th {
    background-color: $fondo-gris;    
}

.fondos-foto {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.h1{
    background-color: rgba(255, 255, 255, 0.9);  
    @include margenes(5px, 2px 6px);
    border-radius: 5px;
    margin: 6px;
    color: $mi-negro;
    font-size:map-get($enunciados, enunciado-l);
    text-align: center;

}

.h3{
    background-color: $fondo-gris;   
    @include margenes(5px, 2px 6px);
    border-radius: 5px;
    margin: 6px;
    text-align: center;
    font-size:map-get($enunciados, enunciado-m);
}

.h5{
    font-size:map-get($enunciados, enunciado-s);
}

iframe, img{
    @include sizes(324px, 183px);
    border-radius: 7px;
}

.aside__li{
    transition: border-radius 1.5s;
}

.aside__li:hover{
    background: $fondo-verde;
    color: $mi-negro;
    cursor: pointer;
    border-radius: 20px;
}

/* Páginas de granos */
.div-detalle{
    @include margenes(0px, 20px);
    font-size:map-get($enunciados, enunciado-s);
}


/******************** HEADER ********************/

.header{
    /*background-color: #00de00;*/
    background: $fondo-verde;
    padding: 5px;
}
/*Imagen logo*/
.header__img{
    max-width: 40px;
    max-height: 40px;
    animation-name: efecto_header__img;
    animation-duration: 2s;
    position: relative;
}

/* NAV */
@media only screen and (min-width: 992px) {
    /* For small laptops - screens equal to or greater than 992px wide */
    .my_navbar{
        display: flex;
        justify-content: end;
    }
    .aside{
        @include margenes(0px, 100px 0px);
    }

    table, th, td {
        font-size: 1rem;
      }

}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.active{
    color: $mi-gris;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: $mi-gris;
}

/******************** MAIN ********************/
/*  Aside  */

.aside{
    background-color: $mi-gris;
    height: 100%;
}

.aside__ul{
    color: white;
    @include margenes(0px, 10px 20px);
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    div{
        @include margenes(5px 0px 5px 0px, 10px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 0.5px 0.5px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(255, 255, 255, 0.1);
    }
}


/*  ARTICLES  */

article{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;
}

.article__texto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.6;
    @include margenes(0px, 30px 50px);
}

/******************** FOOTER ********************/
.footer{
    background: $fondo-verde;
}
.footer__ul{
    display: flex;
    li{
        @include margenes(10px, 0px);
    }
    img{
        height: 40px;
        width: 40px;
    }
}

/******************** INDEX ********************/
.index-fondo{
    background-image: url("../assets/img/wave.svg")
}

.girasol, .maiz{
    color: $mi-blanco;
}


.soja, .contacto{
    color: $mi-negro;
}


/******************** CONTACTO ********************/


.contacto-h{
    @include margenes(10px, 0px);
    text-align: center;
}

form input, form textarea{
    @include margenes(7px 0px, 0px);
}




.cliente{
    color:$mi-blanco;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @include margenes(0px, 15px);
}

.rrhh{
    @extend .cliente; /* Incorporamos las propiedades de cliente */
    img{
        @include sizes(320px, 242px);
        @include margenes(15px, 0px);
        border-radius: 10px;
    }
}


.contacto-btn{
    @include margenes(0px, 10px 30px);
    background-color: #ECECEC;
    border-radius: 30px;
    border-style: none;
    transition: background-color 2s;


}

.contacto-btn:hover{
    background-color: $mi-negro;
    color: #ECECEC;
}


.form{
    display: flex;
    flex-direction: column;
}

textarea{
    padding: 5px;
    width: 300px;
}
/******************** PIZARRA ********************/
.pizarras{
    background-image: url("../assets/img/pizarra.jpg");
    color: $mi-negro;
}

.pizarra{
    display: block;
}

.pizarras-title{
    @include margenes(0px, 10px);
    text-align: center;
}
    
